## Eryk's Notebook for Module 1 Project

Please fill out:
* Student name:  **Eryk Wdowiak**
* Student pace:  full-time
* Scheduled project review date/time:  12th of Never at 13 o'clock
* Instructor name:  Fangfang Lee
* Blog post URL:  https://www.wdowiak.me/gotta-blog?answer=Yes

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
##  data files
!ls zippedData/

bom.movie_gross.csv.gz	  imdb.title.crew.csv.gz	rt.reviews.tsv.gz
imdb.name.basics.csv.gz   imdb.title.principals.csv.gz	tmdb.movies.csv.gz
imdb.title.akas.csv.gz	  imdb.title.ratings.csv.gz	tn.movie_budgets.csv.gz
imdb.title.basics.csv.gz  rt.movie_info.tsv.gz

###  load movie titles and identifiers

In [3]:
##  first load the movie titles and identifiers
imdb_title_basics = pd.read_csv('zippedData/imdb.title.basics.csv.gz',compression='gzip')
#print(imdb_title_basics.shape)
imdb_title_basics.head()

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"

In [4]:
#imdb_title_basics.loc[(imdb_title_basics['tconst']=='tt9916170')|(imdb_title_basics['tconst']=='tt9915436')|(imdb_title_basics['tconst']=='tt5820812')]
#imdb_title_basics.loc[(imdb_title_basics['primary_title']=='Titanic')]

In [5]:
##  create two dictionaries -- one of titles and one of IDs
title_dict = {}
ttlid_dict = {}

##  loop through to create the keys
for i in range(imdb_title_basics.shape[0]):
    ##  get the values
    tconst = imdb_title_basics['tconst'].loc[i]
    primary_title = imdb_title_basics['primary_title'].loc[i]
    
    ##  set up the dictionaries
    title_dict[primary_title] = { 'primary_title' : primary_title }    
    ttlid_dict[tconst] = primary_title 
    
##  now build the title dictionary
for i in range(imdb_title_basics.shape[0]):
    ##  get the values
    tconst        = imdb_title_basics['tconst'].loc[i]
    primary_title = imdb_title_basics['primary_title'].loc[i]
    start_year    = imdb_title_basics['start_year'].loc[i]
    genres        = imdb_title_basics['genres'].loc[i]

    ##  append tconst to title_dict
    try:
        title_dict[primary_title]['tconst'].append(tconst)
    except:
        title_dict[primary_title]['tconst'] = [tconst]

    ##  append start_year to title_dict
    try:
        title_dict[primary_title]['start_year'].append(start_year)
    except:
        title_dict[primary_title]['start_year'] = [start_year]

    ##  append genres to title_dict
    try:
        title_dict[primary_title]['genres'].append(genres)
    except:
        title_dict[primary_title]['genres'] = [genres]

In [6]:
display(title_dict['Titanic'])
display(ttlid_dict['tt2495766'])
display(ttlid_dict['tt8852130'])

{'primary_title': 'Titanic',
 'tconst': ['tt2495766', 'tt8852130'],
 'start_year': [2012, 2018],
 'genres': ['Adventure', 'Family']}

'Titanic'

'Titanic'

In [7]:
display(title_dict['The Rehearsal'])
display(ttlid_dict['tt5820812'])
display(ttlid_dict['tt9916170'])

{'primary_title': 'The Rehearsal',
 'tconst': ['tt5820812', 'tt9916170'],
 'start_year': [2016, 2019],
 'genres': ['Drama', 'Drama']}

'The Rehearsal'

'The Rehearsal'

###  load movie cost and revenue data

In [8]:
##  next load the movie cost and revenue data
tn_movie_budgets = pd.read_csv('zippedData/tn.movie_budgets.csv.gz',compression='gzip')
#print(tn_movie_budgets.shape)
#tn_movie_budgets.head()
#list(tn_movie_budgets.columns)

In [9]:
##  define some conversion functions

##  string of dollars to float
def dollars_to_float(inlist):
    return list(map(lambda x: float(x.replace("$","").replace(",","")), inlist))

##  date string to integer year
def date_to_yrint(datestr):
    return list(map(lambda x: int(x.split()[-1]), datestr))

In [10]:
##  convert strings to float
tn_movie_budgets['production_budget'] = dollars_to_float(tn_movie_budgets['production_budget'])
tn_movie_budgets['domestic_gross'] = dollars_to_float(tn_movie_budgets['domestic_gross'])
tn_movie_budgets['worldwide_gross'] = dollars_to_float(tn_movie_budgets['worldwide_gross'])

##  divide by one million
tn_movie_budgets['production_budget'] = tn_movie_budgets['production_budget'] / 1000000
tn_movie_budgets['domestic_gross'] = tn_movie_budgets['domestic_gross'] / 1000000
tn_movie_budgets['worldwide_gross'] = tn_movie_budgets['worldwide_gross'] / 1000000

##  calculate profit
tn_movie_budgets['profit'] = tn_movie_budgets['worldwide_gross'] - tn_movie_budgets['production_budget']

##  convert release year to integer
tn_movie_budgets['release_year'] = date_to_yrint(tn_movie_budgets['release_date'])

##  convert release date to date
tn_movie_budgets['release_date'] = tn_movie_budgets['release_date'].astype('datetime64[ns]') 
tn_movie_budgets['release_month'] = tn_movie_budgets['release_date'].dt.month

In [11]:
##  print some information
#tn_movie_budgets.columns
#tn_movie_budgets.info()
tn_movie_budgets.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,profit,release_year,release_month
0,1,2009-12-18,Avatar,425.0,760.507625,2776.345279,2351.345279,2009,12
1,2,2011-05-20,Pirates of the Caribbean: On Stranger Tides,410.6,241.063875,1045.663875,635.063875,2011,5
2,3,2019-06-07,Dark Phoenix,350.0,42.762350,149.762350,-200.237650,2019,6
3,4,2015-05-01,Avengers: Age of Ultron,330.6,459.005868,1403.013963,1072.413963,2015,5
4,5,2017-12-15,Star Wars Ep. VIII: The Last Jedi,317.0,620.181382,1316.721747,999.721747,2017,12

In [12]:
tn_movie_budgets.loc[(tn_movie_budgets['movie']=='King Kong')]

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,profit,release_year,release_month
39,40,2005-12-14,King Kong,207.000,218.080025,550.517357,343.517357,2005,12
2374,75,1976-12-17,King Kong,23.000,52.614445,90.614445,67.614445,1976,12
5396,97,1933-04-07,King Kong,0.672,10.000000,10.000650,9.328650,1933,4

In [13]:
tn_movie_budgets.loc[tn_movie_budgets.movie == 'Titanic']

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,profit,release_year,release_month
42,43,1997-12-19,Titanic,200.0,659.363944,2208.208395,2008.208395,1997,12

In [14]:
##  create some histograms
#tn_movie_budgets.release_year.hist();
#tn_movie_budgets.profit.hist();

In [15]:
##  now create profit dictionary
profit_dict = {}

for i in range(tn_movie_budgets.shape[0]):
    ##  get the values
    movie_title   = tn_movie_budgets['movie'].loc[i]
    release_year  = tn_movie_budgets['release_year'].loc[i]
    release_month = tn_movie_budgets['release_month'].loc[i]
    release_date  = tn_movie_budgets['release_date'].loc[i]
    profit_dict[movie_title] = {
        'movie_title'   : movie_title,
        'release_year'  : release_year,
        'release_month' : release_month,
        'release_date'  : release_date
    }
    
for i in range(tn_movie_budgets.shape[0]):
    ##  get the values again
    movie_title  = tn_movie_budgets['movie'].loc[i]
    release_year = tn_movie_budgets['release_year'].loc[i]
    release_month = tn_movie_budgets['release_month'].loc[i]
    release_date = tn_movie_budgets['release_date'].loc[i]

    ##  let's assume that most recent movie is the movie in the IMDB
    if (release_year >= profit_dict[movie_title]['release_year']):
        ##  add them to the dictionary
        profit_dict[movie_title] = {
            'movie_title'   : movie_title,
            'release_year'  : release_year,
            'release_month' : release_month,
            'release_date'  : release_date,
            'production_budget' : tn_movie_budgets['production_budget'].loc[i],
            'domestic_gross' : tn_movie_budgets['domestic_gross'].loc[i],
            'worldwide_gross' : tn_movie_budgets['worldwide_gross'].loc[i],
            'profit' : tn_movie_budgets['profit'].loc[i],
    }

In [16]:
profit_dict['Titanic']

{'movie_title': 'Titanic',
 'release_year': 1997,
 'release_month': 12,
 'release_date': Timestamp('1997-12-19 00:00:00'),
 'production_budget': 200.0,
 'domestic_gross': 659.363944,
 'worldwide_gross': 2208.208395,
 'profit': 2008.208395}

###  get the principals

In [17]:
imdb_title_principals = pd.read_csv('zippedData/imdb.title.principals.csv.gz',compression='gzip')
print(imdb_title_principals.shape)
print('number of unique titles: ' + str(len(list(imdb_title_principals.tconst.unique()))))
print('unique categories:')
print(list(imdb_title_principals.category.unique()))
imdb_title_principals.head(10)
#list(imdb_title_principals.columns)

(1028186, 6)
number of unique titles: 143454
unique categories:
['actor', 'director', 'producer', 'editor', 'actress', 'composer', 'cinematographer', 'writer', 'self', 'production_designer', 'archive_footage', 'archive_sound']

,tconst,ordering,nconst,category,job,characters
0,tt0111414,1,nm0246005,actor,NaN,"[""The Man""]"
1,tt0111414,2,nm0398271,director,NaN,NaN
2,tt0111414,3,nm3739909,producer,producer,NaN
3,tt0323808,10,nm0059247,editor,NaN,NaN
4,tt0323808,1,nm3579312,actress,NaN,"[""Beth Boothby""]"
5,tt0323808,2,nm2694680,actor,NaN,"[""Steve Thomson""]"
6,tt0323808,3,nm0574615,actor,NaN,"[""Sir Lachlan Morrison""]"
7,tt0323808,4,nm0502652,actress,NaN,"[""Lady Delia Morrison""]"
8,tt0323808,5,nm0362736,director,NaN,NaN
9,tt0323808,6,nm0811056,producer,producer,NaN

In [18]:
##  let's create a dictionary of principals
principals_dict = {}

##  loop through to create keys and build the dictionary
for i in range(imdb_title_principals.shape[0]):
    ##  get the values
    tconst = imdb_title_principals['tconst'].loc[i]
    nconst = imdb_title_principals['nconst'].loc[i]
    category = imdb_title_principals['category'].loc[i]

    ##  create the keys
    try:
        principals_dict[tconst]['tconst'] = tconst
    except:
        principals_dict[tconst] = {'tconst' : tconst}
    
    ##  append nconst to the appropriate role
    if (category in ['producer','director','actor','actress']):
        try:
            principals_dict[tconst][category].append(nconst)
        except:
            principals_dict[tconst][category] = [nconst]

In [19]:
principals_dict['tt0323808']

{'tconst': 'tt0323808',
 'actress': ['nm3579312', 'nm0502652'],
 'actor': ['nm2694680', 'nm0574615'],
 'director': ['nm0362736'],
 'producer': ['nm0811056', 'nm0914939']}

###  get the ratings

In [20]:
##  now let's include the ratings
imdb_title_ratings = pd.read_csv('zippedData/imdb.title.ratings.csv.gz',compression='gzip')
print(imdb_title_ratings.shape)
print('number of unique titles: ' + str(len(list(imdb_title_ratings.tconst.unique()))))
imdb_title_ratings.head()
#list(imdb_title_ratings.columns)

(73856, 3)
number of unique titles: 73856

       tconst  averagerating  numvotes
0  tt10356526            8.3        31
1  tt10384606            8.9       559
2   tt1042974            6.4        20
3   tt1043726            4.2     50352
4   tt1060240            6.5        21

In [21]:
##  let's create a dictionary of ratings
ratings_dict = {}

##  loop through to build the dictionary
for i in range(imdb_title_ratings.shape[0]):
    ##  get the values
    tconst = imdb_title_ratings['tconst'].loc[i]
    rating = imdb_title_ratings['averagerating'].loc[i]
    nuvote = imdb_title_ratings['numvotes'].loc[i]

    ##  create the keys
    ratings_dict[tconst] = {
        'tconst' : tconst,
        'rating' : rating,
        'nuvote' : nuvote
    }

In [22]:
ratings_dict['tt1043726']

{'tconst': 'tt1043726', 'rating': 4.2, 'nuvote': 50352}

###  now merge all those dictionaries

In [23]:
##  now find titles in "profit_dict" that match titles in "title_dict"
profit_keys = profit_dict.keys()
title_keys  = title_dict.keys()

##  those titles are at the intersection
profit_titles = list(set(profit_keys) & set(title_keys))

In [24]:
##  columns for merged dataframe
tconst = []
movie_title = []
genres = []
release_year = []
release_month = []
release_date = []
production_budget = []
domestic_gross = []
worldwide_gross = []
profit = []

##  and the principals 
actresses = []
actors = []
directors = []
producers = []

##  and the ratings
ratings = []
nuvotes = []

for movie in profit_titles:
    tconst.append(title_dict[movie]['tconst'])
    movie_title.append(profit_dict[movie]['movie_title'])
    genres.append(title_dict[movie]['genres'])
    release_year.append(profit_dict[movie]['release_year'])
    release_month.append(profit_dict[movie]['release_month'])
    release_date.append(profit_dict[movie]['release_date'])
    production_budget.append(profit_dict[movie]['production_budget'])
    domestic_gross.append(profit_dict[movie]['domestic_gross'])
    worldwide_gross.append(profit_dict[movie]['worldwide_gross'])
    profit.append(profit_dict[movie]['profit'])
    
    ##  movie principals 
    mv_actresses = []
    mv_actors = []
    mv_directors = []
    mv_producers = []
    
    ##  movie ratings
    mv_ratings = []
    mv_nuvotes = []

    for ttlid in title_dict[movie]['tconst']:
        try:
            mv_actresses.append(principals_dict[ttlid]['actress'])
        except:
            blah = 'blah'
    
        try:
            mv_actors.append(principals_dict[ttlid]['actor'])
        except:
            blah = 'blah'
        
        try:
            mv_directors.append(principals_dict[ttlid]['director'])
        except:
            blah = 'blah'
            
        try:
            mv_producers.append(principals_dict[ttlid]['producer'])
        except:
            blah = 'blah'
            
        try:
            mv_ratings.append(ratings_dict[ttlid]['rating'])
        except:
            blah = 'blah'
            
        try:
            mv_nuvotes.append(ratings_dict[ttlid]['nuvote'])
        except:
            blah = 'blah'
          
    actresses.append(mv_actresses)
    actors.append(mv_actors)
    directors.append(mv_directors)
    producers.append(mv_producers)
    ratings.append(mv_ratings)
    nuvotes.append(mv_nuvotes)

##  now create a merged dataframe
movie_df = pd.DataFrame({'tconst' : tconst,
                         'movie_title' : movie_title, 
                         'genres' : genres,
                         'release_year' : release_year,
                         'release_month' : release_month,
                         'release_date' : release_date,
                         'production_budget' : production_budget, 
                         'domestic_gross' : domestic_gross,
                         'worldwide_gross' : worldwide_gross,
                         'profit' : profit,
                         'actresses' : actresses, 
                         'actors' : actors, 
                         'directors' : directors, 
                         'producers' : producers, 
                         'ratings' : ratings, 
                         'nuvotes' : nuvotes
                        })

del tconst, movie_title, genres, release_year, release_month, release_date
del production_budget, domestic_gross, worldwide_gross, profit
del actresses, actors, directors, producers, ratings, nuvotes

In [25]:
#movie_df.info()
movie_df.shape

(2312, 16)

In [26]:
movie_df.head()

,tconst,movie_title,genres,release_year,release_month,release_date,production_budget,domestic_gross,worldwide_gross,profit,actresses,actors,directors,producers,ratings,nuvotes
0,[tt3682448],Bridge of Spies,"[Drama,History,Thriller]",2015,10,2015-10-16,40.0,72.313754,162.498338,122.498338,[[nm0752407]],"[[nm0000158, nm0753314, nm0000257]]",[[nm0000229]],"[[nm0686887, nm1069736]]",[7.6],[263004]
1,[tt0491152],Something Borrowed,"[Comedy,Drama,Romance]",2011,5,2011-05-06,35.0,39.046489,65.084116,30.084116,"[[nm0329481, nm0005028]]","[[nm1148573, nm1024677]]",[[nm0339004]],"[[nm0523892, nm0424663, nm0467255]]",[5.9],[54314]
2,[tt2304933],The 5th Wave,"[Action,Adventure,Drama]",2016,1,2016-01-22,38.0,34.912982,111.336398,73.336398,"[[nm1631269, nm4388400, nm3173395]]",[[nm2832703]],[[nm2128335]],[[nm0365036]],[5.2],[90788]
3,[tt3869446],Special,[Drama],2008,11,2008-11-21,1.0,0.007202,0.026822,-0.973178,"[[nm5366816, nm5117268, nm3151034, nm5864790]]",[],[[nm1720526]],[],[],[]
4,[tt5521836],Panic Room,"[Action,Drama,Mystery]",2002,3,2002-03-29,48.0,95.308367,196.308367,148.308367,[],"[[nm6825012, nm7572519, nm6825014, nm7973173]]",[[nm6825011]],[],[4.4],[18]

In [27]:
movie_df.loc[(movie_df['movie_title'] == 'Titanic')]

,tconst,movie_title,genres,release_year,release_month,release_date,production_budget,domestic_gross,worldwide_gross,profit,actresses,actors,directors,producers,ratings,nuvotes
1106,"[tt2495766, tt8852130]",Titanic,"[Adventure, Family]",1997,12,1997-12-19,200.0,659.363944,2208.208395,2008.208395,"[[nm5408276, nm5436619, nm1265854, nm4285609],...","[[nm5409363, nm4430776, nm5410036, nm4566494, ...",[[nm10047650]],[[nm3167493]],[6.2],[20]

In [28]:
movie_df.shape

(2312, 16)

###  get their names

In [29]:
##  and let's get their real names!
imdb_name_basics = pd.read_csv('zippedData/imdb.name.basics.csv.gz',compression='gzip')
print(imdb_name_basics.shape)
print('number of unique nconst: ' + str(len(list(imdb_name_basics.nconst.unique()))))
imdb_name_basics.head()
#list(imdb_name_basics.columns)

(606648, 6)
number of unique nconst: 606648

,nconst,primary_name,birth_year,death_year,primary_profession,known_for_titles
0,nm0061671,Mary Ellen Bauder,NaN,NaN,"miscellaneous,production_manager,producer","tt0837562,tt2398241,tt0844471,tt0118553"
1,nm0061865,Joseph Bauer,NaN,NaN,"composer,music_department,sound_department","tt0896534,tt6791238,tt0287072,tt1682940"
2,nm0062070,Bruce Baum,NaN,NaN,"miscellaneous,actor,writer","tt1470654,tt0363631,tt0104030,tt0102898"
3,nm0062195,Axel Baumann,NaN,NaN,"camera_department,cinematographer,art_department","tt0114371,tt2004304,tt1618448,tt1224387"
4,nm0062798,Pete Baxter,NaN,NaN,"production_designer,art_department,set_decorator","tt0452644,tt0452692,tt3458030,tt2178256"

In [30]:
##  let's create a dictionary of ratings
names_dict = {}

##  loop through to build the dictionary
for i in range(imdb_title_ratings.shape[0]):
    ##  get the values
    nconst = imdb_name_basics['nconst'].loc[i]
    prname = imdb_name_basics['primary_name'].loc[i]

    ##  create the keys
    names_dict[nconst] = prname

In [31]:
names_dict['nm0061671']

'Mary Ellen Bauder'

###  let's save this monster

In [46]:
from zodbpickle import pickle

In [47]:
pickle.dump(movie_df,open("movie-df_2020-07-08b.p","wb"))

#### xxx

##  stuff we're not gonna use

In [34]:
###  see if any principals or ratings are not in 
#movies_in_principals = []
#movies_in_ratings = []
#not_in_principals = []
#not_in_ratings = []
#for movie in profit_titles:
#    movie_principals = []
#    movie_ratings = []
#    for tconst in title_dict[movie]['tconst']:
#        try:
#            principals_dict[tconst]['tconst']
#            movie_principals.append(movie)
#        except:
#            not_in_principals.append(tconst)
#    
#        try:
#            ratings_dict[tconst]
#            movie_ratings.append(movie)
#        except:
#            not_in_ratings.append(tconst)
#    
#    movies_in_principals.append(list(set(movie_principals)))
#    movies_in_ratings.append(list(set(movie_ratings)))
#    
#print('movies in principals:  ' + str(len(movies_in_principals)))
#print('movies in ratings:     ' + str(len(movies_in_ratings)))
#print('not in principals:  ' + str(len(not_in_principals)))
#print('not in ratings:    ' + str(len(not_in_ratings)))
#
##  RESULT:
##  movies in principals:  2312
##  movies in ratings:     2312
##  not in principals:  42
##  not in ratings:    854

In [35]:
###  create dictionary of title IDs
#ttlid_dict = {}
#
###  loop through to create the keys
#for i in range(imdb_title_basics.shape[0]):
#    tconst        = imdb_title_basics['tconst'].loc[i]
#    ttlid_dict[tconst] = { 'tconst' : tconst }
#
###  now build the dictionary
#for i in range(imdb_title_basics.shape[0]):
#    ##  get the values
#    tconst        = imdb_title_basics['tconst'].loc[i]
#    primary_title = imdb_title_basics['primary_title'].loc[i]
#    start_year    = imdb_title_basics['start_year'].loc[i]
#    genres        = imdb_title_basics['genres'].loc[i]
#
#    ##  append primary_title to ttlid_dict
#    try:
#        ttlid_dict[tconst]['primary_title'].append(primary_title)
#    except:
#        ttlid_dict[tconst]['primary_title'] = [primary_title]
#
#    ##  append start_year to ttlid_dict
#    try:
#        ttlid_dict[tconst]['start_year'].append(start_year)
#    except:
#        ttlid_dict[tconst]['start_year'] = [start_year]
#    
#    ##  append genres to ttlid_dict
#    try:
#        ttlid_dict[tconst]['genres'].append(genres)
#    except:
#        ttlid_dict[tconst]['genres'] = [genres]

In [36]:
#display(ttlid_dict['tt2495766'])
#display(ttlid_dict['tt8852130'])
#print()
#display(ttlid_dict['tt5820812'])
#display(ttlid_dict['tt9916170'])

In [37]:
#imdb_title_crew = pd.read_csv('zippedData/imdb.title.crew.csv.gz',compression='gzip')
#print(imdb_title_crew.shape)
#print('number of unique titles: ' + str(len(list(imdb_title_crew.tconst.unique()))))
#imdb_title_crew.head()
#list(imdb_title_crew.columns)

In [38]:
##  create new dataframe for statistical analysis

##  first set the indices to the movie's title
#imdb_title_basics.set_index('primary_title',inplace=True)
#tn_movie_budgets.set_index('movie',inplace=True)

##  now create the new dataframe
#bad_df = tn_movie_budgets.join(imdb_title_basics,how='inner')

In [39]:
#imdb_title_basics.head()
#tn_movie_budgets.head()
#bad_df.sort_values(by='profit',ascending=False).head(10)

In [40]:
#imdb_title_basics.shape
#tn_movie_budgets.shape
#bad_df.shape
#bad_df.loc[(bad_df['original_title']=='Titanic')]

In [41]:
#bom_movie_gross = pd.read_csv('zippedData/bom.movie_gross.csv.gz',compression='gzip')
#bom_movie_gross.head()
#list(bom_movie_gross.columns)

In [42]:
#imdb_title_akas = pd.read_csv('zippedData/imdb.title.akas.csv.gz',compression='gzip')
#print(imdb_title_akas.shape)
#imdb_title_akas.head()
#list(imdb_title_akas.columns)
#imdb_title_akas.sort_values(by='title_id',ascending=False).head(10)
#imdb_title_akas.loc[imdb_title_akas['title'] == "The Rehearsal"] 
#imdb_title_akas.loc[(imdb_title_akas['title_id']=='tt9916170')|(imdb_title_akas['title_id']=='tt9915436')|(imdb_title_akas['title_id']=='tt5820812')]

In [43]:
#rt_movie_info = pd.read_csv('zippedData/rt.movie_info.tsv.gz',compression='gzip',sep='\t')
#rt_movie_info.head()
#list(rt_movie_info.columns)

In [44]:
#rt_reviews = pd.read_csv('zippedData/rt.reviews.tsv.gz',compression='gzip',sep='\t',encoding='unicode_escape')
#rt_reviews.head()
#list(rt_reviews.columns)

In [45]:
#tmdb_movies = pd.read_csv('zippedData/tmdb.movies.csv.gz',compression='gzip')
#tmdb_movies.head()
#list(tmdb_movies.columns)