## Eryk's Notebook for Module 1 Project

Please fill out:
* Student name:  **Eryk Wdowiak**
* Student pace:  full-time
* Scheduled project review date/time:  12th of Never at 13 o'clock
* Instructor name:  Fangfang Lee
* Blog post URL:  https://www.wdowiak.me/gotta-blog?answer=Yes

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
##  data files
!ls zippedData/

bom.movie_gross.csv.gz	  imdb.title.crew.csv.gz	rt.reviews.tsv.gz
imdb.name.basics.csv.gz   imdb.title.principals.csv.gz	tmdb.movies.csv.gz
imdb.title.akas.csv.gz	  imdb.title.ratings.csv.gz	tn.movie_budgets.csv.gz
imdb.title.basics.csv.gz  rt.movie_info.tsv.gz

In [3]:
##  first load the movie titles and identifiers
imdb_title_basics = pd.read_csv('zippedData/imdb.title.basics.csv.gz',compression='gzip')
#print(imdb_title_basics.shape)
imdb_title_basics.head()

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"

In [4]:
#imdb_title_basics.loc[(imdb_title_basics['tconst']=='tt9916170')|(imdb_title_basics['tconst']=='tt9915436')|(imdb_title_basics['tconst']=='tt5820812')]

In [5]:
#imdb_title_basics.loc[(imdb_title_basics['primary_title']=='Titanic')]

In [6]:
##  create two dictionaries: one of titles and one of IDs
title_dict = {}
ttlid_dict = {}

##  NAME_YEAR -- unique identifier for each movie (hopefully)
##  point it at IMDB's "tconst", then do the reverse
for i in range(imdb_title_basics.shape[0]):
    ##  get the values
    tconst        = imdb_title_basics['tconst'].loc[i]
    primary_title = imdb_title_basics['primary_title'].loc[i]
        
    ##  add them to the dictionaries
    title_dict[primary_title] = { 'primary_title' : primary_title }
    ttlid_dict[tconst] = { 'tconst' : tconst }


for i in range(imdb_title_basics.shape[0]):
    ##  get the values
    tconst        = imdb_title_basics['tconst'].loc[i]
    primary_title = imdb_title_basics['primary_title'].loc[i]
    start_year    = imdb_title_basics['start_year'].loc[i]
    genres        = imdb_title_basics['genres'].loc[i]

    ##  append tconst to title_dict
    try:
        title_dict[primary_title]['tconst'].append(tconst)
    except:
        title_dict[primary_title]['tconst'] = [tconst]

    ##  append primary_title to ttlid_dict
    try:
        ttlid_dict[tconst]['primary_title'].append(primary_title)
    except:
        ttlid_dict[tconst]['primary_title'] = [primary_title]

    ##  append start_year to title_dict
    try:
        title_dict[primary_title]['start_year'].append(start_year)
    except:
        title_dict[primary_title]['start_year'] = [start_year]

    ##  append start_year to ttlid_dict
    try:
        ttlid_dict[tconst]['start_year'].append(start_year)
    except:
        ttlid_dict[tconst]['start_year'] = [start_year]
    
    ##  append genres to title_dict
    try:
        title_dict[primary_title]['genres'].append(genres)
    except:
        title_dict[primary_title]['genres'] = [genres]

    ##  append genres to ttlid_dict
    try:
        ttlid_dict[tconst]['genres'].append(genres)
    except:
        ttlid_dict[tconst]['genres'] = [genres]

In [7]:
display(title_dict['Titanic'])
display(ttlid_dict['tt2495766'])
display(ttlid_dict['tt8852130'])

{'primary_title': 'Titanic',
 'tconst': ['tt2495766', 'tt8852130'],
 'start_year': [2012, 2018],
 'genres': ['Adventure', 'Family']}

{'tconst': 'tt2495766',
 'primary_title': ['Titanic'],
 'start_year': [2012],
 'genres': ['Adventure']}

{'tconst': 'tt8852130',
 'primary_title': ['Titanic'],
 'start_year': [2018],
 'genres': ['Family']}

In [8]:
display(title_dict['The Rehearsal'])
display(ttlid_dict['tt5820812'])
display(ttlid_dict['tt9916170'])

{'primary_title': 'The Rehearsal',
 'tconst': ['tt5820812', 'tt9916170'],
 'start_year': [2016, 2019],
 'genres': ['Drama', 'Drama']}

{'tconst': 'tt5820812',
 'primary_title': ['The Rehearsal'],
 'start_year': [2016],
 'genres': ['Drama']}

{'tconst': 'tt9916170',
 'primary_title': ['The Rehearsal'],
 'start_year': [2019],
 'genres': ['Drama']}

In [9]:
##  next load the movie cost and revenue data
tn_movie_budgets = pd.read_csv('zippedData/tn.movie_budgets.csv.gz',compression='gzip')
#print(tn_movie_budgets.shape)
#tn_movie_budgets.head()
#list(tn_movie_budgets.columns)

In [10]:
##  define some conversion functions

##  string of dollars to float
def dollars_to_float(inlist):
    return list(map(lambda x: float(x.replace("$","").replace(",","")), inlist))

##  date string to integer year
def date_to_yrint(datestr):
    return list(map(lambda x: int(x.split()[-1]), datestr))

In [11]:
##  convert strings to float
tn_movie_budgets['production_budget'] = dollars_to_float(tn_movie_budgets['production_budget'])
tn_movie_budgets['domestic_gross'] = dollars_to_float(tn_movie_budgets['domestic_gross'])
tn_movie_budgets['worldwide_gross'] = dollars_to_float(tn_movie_budgets['worldwide_gross'])

##  divide by one million
tn_movie_budgets['production_budget'] = tn_movie_budgets['production_budget'] / 1000000
tn_movie_budgets['domestic_gross'] = tn_movie_budgets['domestic_gross'] / 1000000
tn_movie_budgets['worldwide_gross'] = tn_movie_budgets['worldwide_gross'] / 1000000

##  calculate profit
tn_movie_budgets['profit'] = tn_movie_budgets['worldwide_gross'] - tn_movie_budgets['production_budget']

##  convert release year to integer
tn_movie_budgets['release_year'] = date_to_yrint(tn_movie_budgets['release_date'])

In [12]:
##  print some information
#tn_movie_budgets.columns
#tn_movie_budgets.info()
tn_movie_budgets.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,profit,release_year
0,1,"Dec 18, 2009",Avatar,425.0,760.507625,2776.345279,2351.345279,2009
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,410.6,241.063875,1045.663875,635.063875,2011
2,3,"Jun 7, 2019",Dark Phoenix,350.0,42.762350,149.762350,-200.237650,2019
3,4,"May 1, 2015",Avengers: Age of Ultron,330.6,459.005868,1403.013963,1072.413963,2015
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,317.0,620.181382,1316.721747,999.721747,2017

In [13]:
tn_movie_budgets.loc[(tn_movie_budgets['movie']=='King Kong')]

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,profit,release_year
39,40,"Dec 14, 2005",King Kong,207.000,218.080025,550.517357,343.517357,2005
2374,75,"Dec 17, 1976",King Kong,23.000,52.614445,90.614445,67.614445,1976
5396,97,"Apr 7, 1933",King Kong,0.672,10.000000,10.000650,9.328650,1933

In [14]:
tn_movie_budgets.loc[tn_movie_budgets.movie == 'Titanic']

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,profit,release_year
42,43,"Dec 19, 1997",Titanic,200.0,659.363944,2208.208395,2008.208395,1997

In [15]:
#tn_movie_budgets.info()

In [16]:
#tn_movie_budgets.release_year.hist();

In [17]:
#tn_movie_budgets.profit.hist();

In [18]:
##  now create profit dictionary
profit_dict = {}

for i in range(tn_movie_budgets.shape[0]):
    ##  get the values
    movie_title  = tn_movie_budgets['movie'].loc[i]
    release_year = tn_movie_budgets['release_year'].loc[i]
    profit_dict[movie_title] = {
        'movie_title'  : movie_title,
        'release_year' : release_year,
    }
    
for i in range(tn_movie_budgets.shape[0]):
    ##  get the values again
    movie_title  = tn_movie_budgets['movie'].loc[i]
    release_year = tn_movie_budgets['release_year'].loc[i]

    ##  let's assume that most recent movie is the movie in the IMDB
    if (release_year >= profit_dict[movie_title]['release_year']):
        ##  add them to the dictionary
        profit_dict[movie_title] = {
            'movie_title' : movie_title,
            'release_year' : release_year, 
            'production_budget' : tn_movie_budgets['production_budget'].loc[i],
            'domestic_gross' : tn_movie_budgets['domestic_gross'].loc[i],
            'worldwide_gross' : tn_movie_budgets['worldwide_gross'].loc[i],
            'profit' : tn_movie_budgets['profit'].loc[i],
    }

In [19]:
##  now find titles in "profit_dict" that match titles in "title_dict"
profit_keys = profit_dict.keys()
title_keys  = title_dict.keys()

##  those titles are at the intersection
profit_titles = list(set(profit_keys) & set(title_keys))

##  columns for merged dataframe
tconst = []
movie_title = []
genres = []
release_year = []
production_budget = []
domestic_gross = []
worldwide_gross = []
profit = []

for movie in profit_titles:
    tconst.append(title_dict[movie]['tconst'])
    movie_title.append(profit_dict[movie]['movie_title'])
    genres.append(title_dict[movie]['genres'])
    release_year.append(profit_dict[movie]['release_year'])
    production_budget.append(profit_dict[movie]['production_budget'])
    domestic_gross.append(profit_dict[movie]['domestic_gross'])
    worldwide_gross.append(profit_dict[movie]['worldwide_gross'])
    profit.append(profit_dict[movie]['profit'])

##  now create a merged dataframe
movie_df = pd.DataFrame({'tconst' : tconst,
                         'movie_title' : movie_title, 
                         'genres' : genres,
                         'release_year' : release_year,
                         'production_budget' : production_budget, 
                         'domestic_gross' : domestic_gross,
                         'worldwide_gross' : worldwide_gross,
                         'profit' : profit })

del tconst, movie_title, genres, release_year
del production_budget, domestic_gross, worldwide_gross, profit

In [20]:
#movie_df.info()
movie_df.shape

(2312, 8)

In [21]:
movie_df.head()

,tconst,movie_title,genres,release_year,production_budget,domestic_gross,worldwide_gross,profit
0,[tt1204975],Last Vegas,"[Comedy,Drama]",2013,28.0,63.914167,112.914167,84.914167
1,[tt1250777],Kick-Ass,"[Action,Comedy]",2010,28.0,48.071303,97.531134,69.531134
2,"[tt1849111, tt2927802, tt5473848]",Superstar,"[Drama, Drama, Comedy]",1999,14.0,30.628981,30.628981,16.628981
3,[tt1032751],The Warrior's Way,"[Action,Fantasy,Western]",2010,42.0,5.666340,8.514325,-33.485675
4,[tt2376252],Where the Heart Is,"[Biography,Documentary,Family]",2000,15.0,33.771174,40.862054,25.862054

In [22]:
##  create new dataframe for statistical analysis

##  first set the indices to the movie's title
#imdb_title_basics.set_index('primary_title',inplace=True)
#tn_movie_budgets.set_index('movie',inplace=True)

##  now create the new dataframe
#movie_df = tn_movie_budgets.join(imdb_title_basics,how='inner')

In [23]:
#imdb_title_basics.head()
#tn_movie_budgets.head()
#movie_df.sort_values(by='profit',ascending=False).head(20)

In [24]:
#imdb_title_basics.shape
#tn_movie_budgets.shape
#movie_df.shape

In [25]:
#movie_dg = movie_df.drop_duplicates()

In [26]:
#movie_dg.shape

In [27]:
#bom_movie_gross = pd.read_csv('zippedData/bom.movie_gross.csv.gz',compression='gzip')
#bom_movie_gross.head()
#list(bom_movie_gross.columns)

In [28]:
#imdb_name_basics = pd.read_csv('zippedData/imdb.name.basics.csv.gz',compression='gzip')
#imdb_name_basics.head()
#list(imdb_name_basics.columns)

In [29]:
#imdb_title_akas = pd.read_csv('zippedData/imdb.title.akas.csv.gz',compression='gzip')
#print(imdb_title_akas.shape)
#imdb_title_akas.head()
#list(imdb_title_akas.columns)
#imdb_title_akas.sort_values(by='title_id',ascending=False).head(10)
#imdb_title_akas.loc[imdb_title_akas['title'] == "The Rehearsal"] 
#imdb_title_akas.loc[(imdb_title_akas['title_id']=='tt9916170')|(imdb_title_akas['title_id']=='tt9915436')|(imdb_title_akas['title_id']=='tt5820812')]

In [30]:
#imdb_title_crew = pd.read_csv('zippedData/imdb.title.crew.csv.gz',compression='gzip')
#imdb_title_crew.head()
#list(imdb_title_crew.columns)

In [31]:
#imdb_title_principals = pd.read_csv('zippedData/imdb.title.principals.csv.gz',compression='gzip')
#imdb_title_principals.head()
#list(imdb_title_principals.columns)

In [32]:
#imdb_title_ratings = pd.read_csv('zippedData/imdb.title.ratings.csv.gz',compression='gzip')
#imdb_title_ratings.head()
#list(imdb_title_ratings.columns)

In [33]:
#rt_movie_info = pd.read_csv('zippedData/rt.movie_info.tsv.gz',compression='gzip',sep='\t')
#rt_movie_info.head()
#list(rt_movie_info.columns)

In [34]:
#rt_reviews = pd.read_csv('zippedData/rt.reviews.tsv.gz',compression='gzip',sep='\t',encoding='unicode_escape')
#rt_reviews.head()
#list(rt_reviews.columns)

In [35]:
#tmdb_movies = pd.read_csv('zippedData/tmdb.movies.csv.gz',compression='gzip')
#tmdb_movies.head()
#list(tmdb_movies.columns)