## Eryk's Notebook for Module 1 Project

Please fill out:
* Student name:  **Eryk Wdowiak**
* Student pace:  full-time
* Scheduled project review date/time:  12th of Never at 13 o'clock
* Instructor name:  Fangfang Lee
* Blog post URL:  https://www.wdowiak.me/gotta-blog?answer=Yes

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
##  data files
!ls zippedData/

bom.movie_gross.csv.gz       imdb.title.ratings.csv.gz
imdb.name.basics.csv.gz      rt.movie_info.tsv.gz
imdb.title.akas.csv.gz       rt.reviews.tsv.gz
imdb.title.basics.csv.gz     tmdb.movies.csv.gz
imdb.title.crew.csv.gz       tn.movie_budgets.csv.gz
imdb.title.principals.csv.gz

###  load movie titles and identifiers

In [3]:
##  first load the movie titles and identifiers
imdb_title_basics = pd.read_csv('zippedData/imdb.title.basics.csv.gz',compression='gzip')
#print(imdb_title_basics.shape)

In [50]:
#imdb_title_basics.head()

In [4]:
#imdb_title_basics.loc[(imdb_title_basics['tconst']=='tt9916170')|(imdb_title_basics['tconst']=='tt9915436')|(imdb_title_basics['tconst']=='tt5820812')]
#imdb_title_basics.loc[(imdb_title_basics['primary_title']=='Titanic')]

In [5]:
##  create two dictionaries -- one of titles and one of IDs
title_dict = {}
ttlid_dict = {}

##  loop through to create the keys
for i in range(imdb_title_basics.shape[0]):
    ##  get the values
    tconst = imdb_title_basics['tconst'].loc[i]
    primary_title = imdb_title_basics['primary_title'].loc[i]
    
    ##  set up the dictionaries
    title_dict[primary_title] = { 'primary_title' : primary_title }    
    ttlid_dict[tconst] = primary_title 
    
##  now build the title dictionary
for i in range(imdb_title_basics.shape[0]):
    ##  get the values
    tconst        = imdb_title_basics['tconst'].loc[i]
    primary_title = imdb_title_basics['primary_title'].loc[i]
    start_year    = imdb_title_basics['start_year'].loc[i]
    genres        = imdb_title_basics['genres'].loc[i]

    ##  append tconst to title_dict
    try:
        title_dict[primary_title]['tconst'].append(tconst)
    except:
        title_dict[primary_title]['tconst'] = [tconst]

    ##  append start_year to title_dict
    try:
        title_dict[primary_title]['start_year'].append(start_year)
    except:
        title_dict[primary_title]['start_year'] = [start_year]

    ##  append genres to title_dict
    try:
        title_dict[primary_title]['genres'].append(genres)
    except:
        title_dict[primary_title]['genres'] = [genres]

In [6]:
# display(title_dict['Titanic'])
# display(ttlid_dict['tt2495766'])
# display(ttlid_dict['tt8852130'])

In [7]:
# display(title_dict['The Rehearsal'])
# display(ttlid_dict['tt5820812'])
# display(ttlid_dict['tt9916170'])

###  load movie cost and revenue data

In [8]:
##  next load the movie cost and revenue data
tn_movie_budgets = pd.read_csv('zippedData/tn.movie_budgets.csv.gz',compression='gzip')
#print(tn_movie_budgets.shape)
#tn_movie_budgets.head()
#list(tn_movie_budgets.columns)

In [9]:
##  define some conversion functions

##  string of dollars to float
def dollars_to_float(inlist):
    return list(map(lambda x: float(x.replace("$","").replace(",","")), inlist))

##  date string to integer year
def date_to_yrint(datestr):
    return list(map(lambda x: int(x.split()[-1]), datestr))

In [10]:
##  convert strings to float
tn_movie_budgets['production_budget'] = dollars_to_float(tn_movie_budgets['production_budget'])
tn_movie_budgets['domestic_gross'] = dollars_to_float(tn_movie_budgets['domestic_gross'])
tn_movie_budgets['worldwide_gross'] = dollars_to_float(tn_movie_budgets['worldwide_gross'])

##  divide by one million
tn_movie_budgets['production_budget'] = tn_movie_budgets['production_budget'] / 1000000
tn_movie_budgets['domestic_gross'] = tn_movie_budgets['domestic_gross'] / 1000000
tn_movie_budgets['worldwide_gross'] = tn_movie_budgets['worldwide_gross'] / 1000000

##  calculate profit
tn_movie_budgets['profit'] = tn_movie_budgets['worldwide_gross'] - tn_movie_budgets['production_budget']

##  convert release year to integer
tn_movie_budgets['release_year'] = date_to_yrint(tn_movie_budgets['release_date'])

##  convert release date to date
tn_movie_budgets['release_date'] = tn_movie_budgets['release_date'].astype('datetime64[ns]') 
tn_movie_budgets['release_month'] = tn_movie_budgets['release_date'].dt.month

In [11]:
##  print some information
#tn_movie_budgets.columns
#tn_movie_budgets.info()
# tn_movie_budgets.head()

In [12]:
# tn_movie_budgets.loc[(tn_movie_budgets['movie']=='King Kong')]

In [13]:
# tn_movie_budgets.loc[tn_movie_budgets.movie == 'Titanic']

In [14]:
##  create some histograms
#tn_movie_budgets.release_year.hist();
#tn_movie_budgets.profit.hist();

In [15]:
##  now create profit dictionary
profit_dict = {}

for i in range(tn_movie_budgets.shape[0]):
    ##  get the values
    movie_title   = tn_movie_budgets['movie'].loc[i]
    release_year  = tn_movie_budgets['release_year'].loc[i]
    release_month = tn_movie_budgets['release_month'].loc[i]
    release_date  = tn_movie_budgets['release_date'].loc[i]
    profit_dict[movie_title] = {
        'movie_title'   : movie_title,
        'release_year'  : release_year,
        'release_month' : release_month,
        'release_date'  : release_date
    }
    
for i in range(tn_movie_budgets.shape[0]):
    ##  get the values again
    movie_title  = tn_movie_budgets['movie'].loc[i]
    release_year = tn_movie_budgets['release_year'].loc[i]
    release_month = tn_movie_budgets['release_month'].loc[i]
    release_date = tn_movie_budgets['release_date'].loc[i]

    ##  let's assume that most recent movie is the movie in the IMDB
    if (release_year >= profit_dict[movie_title]['release_year']):
        ##  add them to the dictionary
        profit_dict[movie_title] = {
            'movie_title'   : movie_title,
            'release_year'  : release_year,
            'release_month' : release_month,
            'release_date'  : release_date,
            'production_budget' : tn_movie_budgets['production_budget'].loc[i],
            'domestic_gross' : tn_movie_budgets['domestic_gross'].loc[i],
            'worldwide_gross' : tn_movie_budgets['worldwide_gross'].loc[i],
            'profit' : tn_movie_budgets['profit'].loc[i],
    }

In [16]:
# profit_dict['Titanic']

###  get the principals

In [17]:
imdb_title_principals = pd.read_csv('zippedData/imdb.title.principals.csv.gz',compression='gzip')
# print(imdb_title_principals.shape)
# print('number of unique titles: ' + str(len(list(imdb_title_principals.tconst.unique()))))
# print('unique categories:')
# print(list(imdb_title_principals.category.unique()))
# imdb_title_principals.head(10)
#list(imdb_title_principals.columns)

In [18]:
##  let's create a dictionary of principals
principals_dict = {}

##  loop through to create keys and build the dictionary
for i in range(imdb_title_principals.shape[0]):
    ##  get the values
    tconst = imdb_title_principals['tconst'].loc[i]
    nconst = imdb_title_principals['nconst'].loc[i]
    category = imdb_title_principals['category'].loc[i]

    ##  create the keys
    try:
        principals_dict[tconst]['tconst'] = tconst
    except:
        principals_dict[tconst] = {'tconst' : tconst}
    
    ##  append nconst to the appropriate role
    if (category in ['producer','director','actor','actress']):
        try:
            principals_dict[tconst][category].append(nconst)
        except:
            principals_dict[tconst][category] = [nconst]

In [19]:
# principals_dict['tt0323808']

###  get the ratings

In [20]:
##  now let's include the ratings
imdb_title_ratings = pd.read_csv('zippedData/imdb.title.ratings.csv.gz',compression='gzip')
# print(imdb_title_ratings.shape)
# print('number of unique titles: ' + str(len(list(imdb_title_ratings.tconst.unique()))))
# imdb_title_ratings.head()
#list(imdb_title_ratings.columns)

In [21]:
##  let's create a dictionary of ratings
ratings_dict = {}

##  loop through to build the dictionary
for i in range(imdb_title_ratings.shape[0]):
    ##  get the values
    tconst = imdb_title_ratings['tconst'].loc[i]
    rating = imdb_title_ratings['averagerating'].loc[i]
    nuvote = imdb_title_ratings['numvotes'].loc[i]

    ##  create the keys
    ratings_dict[tconst] = {
        'tconst' : tconst,
        'rating' : rating,
        'nuvote' : nuvote
    }

In [22]:
# ratings_dict['tt1043726']

###  now merge all those dictionaries

In [23]:
##  now find titles in "profit_dict" that match titles in "title_dict"
profit_keys = profit_dict.keys()
title_keys  = title_dict.keys()

##  those titles are at the intersection
profit_titles = list(set(profit_keys) & set(title_keys))

In [47]:
# ##  columns for merged dataframe
# tconst = []
# movie_title = []
# genres = []
# release_year = []
# release_month = []
# release_date = []
# production_budget = []
# domestic_gross = []
# worldwide_gross = []
# profit = []

# ##  and the principals 
# actresses = []
# actors = []
# directors = []
# producers = []

# ##  and the ratings
# ratings = []
# nuvotes = []

# for movie in profit_titles:
#     tconst.append(title_dict[movie]['tconst'])
#     movie_title.append(profit_dict[movie]['movie_title'])
#     genres.append(title_dict[movie]['genres'])
#     release_year.append(profit_dict[movie]['release_year'])
#     release_month.append(profit_dict[movie]['release_month'])
#     release_date.append(profit_dict[movie]['release_date'])
#     production_budget.append(profit_dict[movie]['production_budget'])
#     domestic_gross.append(profit_dict[movie]['domestic_gross'])
#     worldwide_gross.append(profit_dict[movie]['worldwide_gross'])
#     profit.append(profit_dict[movie]['profit'])
    
#     ##  movie principals 
#     mv_actresses = []
#     mv_actors = []
#     mv_directors = []
#     mv_producers = []
    
#     ##  movie ratings
#     mv_ratings = []
#     mv_nuvotes = []

#     for ttlid in title_dict[movie]['tconst']:
#         try:
#             mv_actresses.append(principals_dict[ttlid]['actress'])
#         except:
#             blah = 'blah'
    
#         try:
#             mv_actors.append(principals_dict[ttlid]['actor'])
#         except:
#             blah = 'blah'
        
#         try:
#             mv_directors.append(principals_dict[ttlid]['director'])
#         except:
#             blah = 'blah'
            
#         try:
#             mv_producers.append(principals_dict[ttlid]['producer'])
#         except:
#             blah = 'blah'
            
#         try:
#             mv_ratings.append(ratings_dict[ttlid]['rating'])
#         except:
#             blah = 'blah'
            
#         try:
#             mv_nuvotes.append(ratings_dict[ttlid]['nuvote'])
#         except:
#             blah = 'blah'
          
#     actresses.append(mv_actresses)
#     actors.append(mv_actors)
#     directors.append(mv_directors)
#     producers.append(mv_producers)
#     ##  just return rating with most votes
#     try:
#         which_max = mv_nuvotes.index(max(mv_nuvotes))
#         ratings.append(mv_ratings[which_max])
#         nuvotes.append(mv_nuvotes[which_max])
#     except:
#         ratings.append(None)
#         nuvotes.append(None)

# ##  now create a merged dataframe
# movie_df = pd.DataFrame({'tconst' : tconst,
#                          'movie_title' : movie_title, 
#                          'genres' : genres,
#                          'release_year' : release_year,
#                          'release_month' : release_month,
#                          'release_date' : release_date,
#                          'production_budget' : production_budget, 
#                          'domestic_gross' : domestic_gross,
#                          'worldwide_gross' : worldwide_gross,
#                          'profit' : profit,
#                          'actresses' : actresses, 
#                          'actors' : actors, 
#                          'directors' : directors, 
#                          'producers' : producers, 
#                          'ratings' : ratings, 
#                          'nuvotes' : nuvotes
#                         })

# del tconst, movie_title, genres, release_year, release_month, release_date
# del production_budget, domestic_gross, worldwide_gross, profit
# del actresses, actors, directors, producers, ratings, nuvotes

In [51]:
tconst = []
movie_title = []
genres = []
release_year = []
release_month = []
release_date = []
production_budget = []
domestic_gross = []
worldwide_gross = []
profit = []

##  and the principals 
actresses = []
actors = []
directors = []
producers = []

##  and the ratings
ratings = []
nuvotes = []

for movie in profit_titles:
    tconst.append(title_dict[movie]['tconst'])
    movie_title.append(profit_dict[movie]['movie_title'])
    ##  we'll pick up genres below
    release_year.append(profit_dict[movie]['release_year'])
    release_month.append(profit_dict[movie]['release_month'])
    release_date.append(profit_dict[movie]['release_date'])
    production_budget.append(profit_dict[movie]['production_budget'])
    domestic_gross.append(profit_dict[movie]['domestic_gross'])
    worldwide_gross.append(profit_dict[movie]['worldwide_gross'])
    profit.append(profit_dict[movie]['profit'])
    
    ##  movie principals 
    mv_actresses = []
    mv_actors = []
    mv_directors = []
    mv_producers = []
    
    ##  movie genres
    mv_genres = []
    
    ##  movie ratings
    mv_ratings = []
    mv_nuvotes = []

    for ttlid in title_dict[movie]['tconst']:
        try:
            mv_actresses.append(principals_dict[ttlid]['actress'])
        except:
            blah = 'blah'
    
        try:
            mv_actors.append(principals_dict[ttlid]['actor'])
        except:
            blah = 'blah'
        
        try:
            mv_directors.append(principals_dict[ttlid]['director'])
        except:
            blah = 'blah'
            
        try:
            mv_producers.append(principals_dict[ttlid]['producer'])
        except:
            blah = 'blah'
            
        try:
            mv_ratings.append(ratings_dict[ttlid]['rating'])
        except:
            blah = 'blah'
            
        try:
            mv_nuvotes.append(ratings_dict[ttlid]['nuvote'])
        except:
            blah = 'blah'
            
        try:
            comma = ','
            genre_str = comma.join(title_dict[ttlid_dict[ttlid]]['genres'])           
            mv_genres.append(genre_str)
        except:
            blah = 'blah'


    ##  append principals
    actresses.append(mv_actresses)
    actors.append(mv_actors)
    directors.append(mv_directors)
    producers.append(mv_producers)

    ##  make genres one long string, then split it and make list unique
    comma = ','
    mv_genres = comma.join(mv_genres)
    mv_genres = mv_genres.split(comma)
    genres.append(list(set(mv_genres)))
    
    ##  just return rating with most votes
    try:
        which_max = mv_nuvotes.index(max(mv_nuvotes))
        ratings.append(mv_ratings[which_max])
        nuvotes.append(mv_nuvotes[which_max])
    except:
        ratings.append(None)
        nuvotes.append(None)

##  now create a merged dataframe
movie_df = pd.DataFrame({'tconst' : tconst,
                         'movie_title' : movie_title, 
                         'genres' : genres,
                         'release_year' : release_year,
                         'release_month' : release_month,
                         'release_date' : release_date,
                         'production_budget' : production_budget, 
                         'domestic_gross' : domestic_gross,
                         'worldwide_gross' : worldwide_gross,
                         'profit' : profit,
                         'actresses' : actresses, 
                         'actors' : actors, 
                         'directors' : directors, 
                         'producers' : producers, 
                         'ratings' : ratings, 
                         'nuvotes' : nuvotes
                        })

del tconst, movie_title, genres, release_year, release_month, release_date
del production_budget, domestic_gross, worldwide_gross, profit
del actresses, actors, directors, producers, ratings, nuvotes

In [25]:
#movie_df.info()
# movie_df.shape

In [26]:
# movie_df.head()

###  get their names

In [27]:
##  and let's get their real names!
imdb_name_basics = pd.read_csv('zippedData/imdb.name.basics.csv.gz',compression='gzip')
# print(imdb_name_basics.shape)
# print('number of unique nconst: ' + str(len(list(imdb_name_basics.nconst.unique()))))
# imdb_name_basics.head()
#list(imdb_name_basics.columns)

In [28]:
##  let's create a dictionary of ratings
names_dict = {}

##  loop through to build the dictionary
for i in range(imdb_title_ratings.shape[0]):
    ##  get the values
    nconst = imdb_name_basics['nconst'].loc[i]
    prname = imdb_name_basics['primary_name'].loc[i]

    ##  create the keys
    names_dict[nconst] = prname

###  let's save this monster

In [46]:
#from zodbpickle import pickle

In [30]:
#pickle.dump(movie_df,open("movie-df_2020-07-08b.p","wb"))

#### xxx

##  stuff we're not gonna use

In [31]:
###  see if any principals or ratings are not in 
#movies_in_principals = []
#movies_in_ratings = []
#not_in_principals = []
#not_in_ratings = []
#for movie in profit_titles:
#    movie_principals = []
#    movie_ratings = []
#    for tconst in title_dict[movie]['tconst']:
#        try:
#            principals_dict[tconst]['tconst']
#            movie_principals.append(movie)
#        except:
#            not_in_principals.append(tconst)
#    
#        try:
#            ratings_dict[tconst]
#            movie_ratings.append(movie)
#        except:
#            not_in_ratings.append(tconst)
#    
#    movies_in_principals.append(list(set(movie_principals)))
#    movies_in_ratings.append(list(set(movie_ratings)))
#    
#print('movies in principals:  ' + str(len(movies_in_principals)))
#print('movies in ratings:     ' + str(len(movies_in_ratings)))
#print('not in principals:  ' + str(len(not_in_principals)))
#print('not in ratings:    ' + str(len(not_in_ratings)))
#
##  RESULT:
##  movies in principals:  2312
##  movies in ratings:     2312
##  not in principals:  42
##  not in ratings:    854

In [32]:
###  create dictionary of title IDs
#ttlid_dict = {}
#
###  loop through to create the keys
#for i in range(imdb_title_basics.shape[0]):
#    tconst        = imdb_title_basics['tconst'].loc[i]
#    ttlid_dict[tconst] = { 'tconst' : tconst }
#
###  now build the dictionary
#for i in range(imdb_title_basics.shape[0]):
#    ##  get the values
#    tconst        = imdb_title_basics['tconst'].loc[i]
#    primary_title = imdb_title_basics['primary_title'].loc[i]
#    start_year    = imdb_title_basics['start_year'].loc[i]
#    genres        = imdb_title_basics['genres'].loc[i]
#
#    ##  append primary_title to ttlid_dict
#    try:
#        ttlid_dict[tconst]['primary_title'].append(primary_title)
#    except:
#        ttlid_dict[tconst]['primary_title'] = [primary_title]
#
#    ##  append start_year to ttlid_dict
#    try:
#        ttlid_dict[tconst]['start_year'].append(start_year)
#    except:
#        ttlid_dict[tconst]['start_year'] = [start_year]
#    
#    ##  append genres to ttlid_dict
#    try:
#        ttlid_dict[tconst]['genres'].append(genres)
#    except:
#        ttlid_dict[tconst]['genres'] = [genres]

In [33]:
#display(ttlid_dict['tt2495766'])
#display(ttlid_dict['tt8852130'])
#print()
#display(ttlid_dict['tt5820812'])
#display(ttlid_dict['tt9916170'])

In [34]:
#imdb_title_crew = pd.read_csv('zippedData/imdb.title.crew.csv.gz',compression='gzip')
#print(imdb_title_crew.shape)
#print('number of unique titles: ' + str(len(list(imdb_title_crew.tconst.unique()))))
#imdb_title_crew.head()
#list(imdb_title_crew.columns)

In [35]:
##  create new dataframe for statistical analysis

##  first set the indices to the movie's title
#imdb_title_basics.set_index('primary_title',inplace=True)
#tn_movie_budgets.set_index('movie',inplace=True)

##  now create the new dataframe
#bad_df = tn_movie_budgets.join(imdb_title_basics,how='inner')

In [36]:
#imdb_title_basics.head()
#tn_movie_budgets.head()
#bad_df.sort_values(by='profit',ascending=False).head(10)

In [37]:
#imdb_title_basics.shape
#tn_movie_budgets.shape
#bad_df.shape
#bad_df.loc[(bad_df['original_title']=='Titanic')]

In [38]:
#bom_movie_gross = pd.read_csv('zippedData/bom.movie_gross.csv.gz',compression='gzip')
#bom_movie_gross.head()
#list(bom_movie_gross.columns)

In [39]:
#imdb_title_akas = pd.read_csv('zippedData/imdb.title.akas.csv.gz',compression='gzip')
#print(imdb_title_akas.shape)
#imdb_title_akas.head()
#list(imdb_title_akas.columns)
#imdb_title_akas.sort_values(by='title_id',ascending=False).head(10)
#imdb_title_akas.loc[imdb_title_akas['title'] == "The Rehearsal"] 
#imdb_title_akas.loc[(imdb_title_akas['title_id']=='tt9916170')|(imdb_title_akas['title_id']=='tt9915436')|(imdb_title_akas['title_id']=='tt5820812')]

In [40]:
#rt_movie_info = pd.read_csv('zippedData/rt.movie_info.tsv.gz',compression='gzip',sep='\t')
#rt_movie_info.head()
#list(rt_movie_info.columns)

In [41]:
#rt_reviews = pd.read_csv('zippedData/rt.reviews.tsv.gz',compression='gzip',sep='\t',encoding='unicode_escape')
#rt_reviews.head()
#list(rt_reviews.columns)

In [42]:
#tmdb_movies = pd.read_csv('zippedData/tmdb.movies.csv.gz',compression='gzip')
#tmdb_movies.head()
#list(tmdb_movies.columns)

In [52]:
movie_df.head()

,tconst,movie_title,genres,release_year,release_month,release_date,production_budget,domestic_gross,worldwide_gross,profit,actresses,actors,directors,producers,ratings,nuvotes
0,[tt2229499],Don Jon,"[Romance, Comedy, Drama]",2013,9,2013-09-27,5.500,24.477704,41.268579,35.768579,"[[nm0424060, nm0000194]]","[[nm0330687, nm0001103]]",[],[[nm0074851]],6.6,216350.0
1,[tt2910904],The Dressmaker,"[Comedy, Drama]",2016,9,2016-09-23,11.900,2.022115,24.041617,12.141617,"[[nm0000701, nm0001114]]","[[nm2955013, nm0915989]]",[[nm0602104]],[[nm0556514]],7.1,46833.0
2,[tt1502712],Fantastic Four,"[Action, Drama, Adventure]",2015,8,2015-08-07,120.000,56.117548,167.849187,47.849187,[[nm0544718]],"[[nm1886602, nm0430107, nm0068260]]",[[nm2503633]],[[nm0329084]],4.3,140148.0
3,[tt1296373],The FP,[Comedy],2012,3,2012-03-16,0.060,0.000000,0.000000,-0.060000,[[nm1555427]],"[[nm1875808, nm2754510, nm2542282]]",[[nm1060930]],"[[nm2854742, nm0056873]]",5.6,1541.0
4,[tt1934172],Heroes of Dirt,"[Action, Drama, Sport]",2015,9,2015-09-04,0.175,0.000000,0.000000,-0.175000,[[nm4475619]],"[[nm4475606, nm4475725, nm0020309]]",[[nm4463198]],[],6.7,81.0