In [1]:
#Importing packages
import pandas as pd
import numpy as np

In [2]:
#loading the data files into pandas dataframe
gross = pd.read_csv('data/bom.movie_gross.csv')
imdb_name = pd.read_csv('data/imdb.name.basics.csv')
imdb_title_akas = pd.read_csv('data/imdb.title.akas.csv')
imdb_title_basics = pd.read_csv('data/imdb.title.basics.csv')
imdb_title_crew = pd.read_csv('data/imdb.title.crew.csv')
imdb_title_principals = pd.read_csv('data/imdb.title.principals.csv')
imdb_title_ratings = pd.read_csv('data/imdb.title.ratings.csv')
rt_movie_info = pd.read_csv('data/rt.movie_info.tsv', delimiter='\t')
rt_reviews = pd.read_csv('data/rt.reviews.tsv', delimiter='\t', encoding='unicode_escape')
tmdb_movies = pd.read_csv('data/tmdb.movies.csv')
tn_movie_budgets = pd.read_csv('data/tn.movie_budgets.csv') #No Missing values

In [3]:
# setting and renaming index of tmdb_movies dataset
tmdb_movies.set_index('Unnamed: 0',inplace = True)
tmdb_movies.index.rename('index',inplace = True)

In [4]:
#Checking for missing values in data
gross.isna().sum()

title                0
studio               5
domestic_gross      28
foreign_gross     1350
year                 0
dtype: int64

In [5]:
# Dropping rows with missing studio
gross.dropna(subset = ['studio'],axis = 0, inplace = True)

In [6]:
gross.isna().sum()

title                0
studio               0
domestic_gross      26
foreign_gross     1349
year                 0
dtype: int64

In [21]:
#Filled missing values with 0 to change type of column from object to float
gross.foreign_gross = gross.foreign_gross.fillna(0)
gross['foreign_gross'] =  gross['foreign_gross'].replace({',':''}, regex = True)
gross.foreign_gross = gross.foreign_gross.astype(float)

3382    0.0
3383    0.0
3384    0.0
3385    0.0
3386    0.0
Name: foreign_gross, dtype: float64

In [8]:
# Removing  $ and , from production_budget, domestic_gross and worldwide_gross and converting them to floats to perform calculations
# make a function and change to float and divide by million
tn_movie_budgets['production_budget'] =  tn_movie_budgets['production_budget'].replace({'\$':''}, regex = True)
tn_movie_budgets['production_budget'] =  tn_movie_budgets['production_budget'].replace({',':''}, regex = True)
tn_movie_budgets['production_budget'] =  tn_movie_budgets['production_budget'].astype('int64')
tn_movie_budgets['domestic_gross'] =  tn_movie_budgets['domestic_gross'].replace({'\$':''}, regex = True)
tn_movie_budgets['domestic_gross'] =  tn_movie_budgets['domestic_gross'].replace({',':''}, regex = True)
tn_movie_budgets['domestic_gross'] =  tn_movie_budgets['domestic_gross'].astype('int64')
tn_movie_budgets['worldwide_gross'] =  tn_movie_budgets['worldwide_gross'].replace({'\$':''}, regex = True)
tn_movie_budgets['worldwide_gross'] =  tn_movie_budgets['worldwide_gross'].replace({',':''}, regex = True)
tn_movie_budgets['worldwide_gross'] =  tn_movie_budgets['worldwide_gross'].astype('int64')

In [9]:
#Creating a new column profit for profit/loss of movies
tn_movie_budgets['profit'] =  tn_movie_budgets['worldwide_gross'] - tn_movie_budgets['production_budget']

In [49]:
# top ten movies according to profit
#top_grossing_movies = list(tn_movie_budgets.sort_values(by = 'profit', ascending = True)['movie'])
# find movies that are profitable and not profitable
#tn_movie_budgets.sort_values(by = 'profit', ascending = False)['profit'].hist()
#sequels how good are sequels
#
tn_movie_budgets.sort_values(by = 'profit')

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,profit
2,3,"Jun 7, 2019",Dark Phoenix,350000000,42762350,149762350,-200237650
194,95,"Dec 31, 2020",Moonfall,150000000,0,0,-150000000
193,94,"Mar 11, 2011",Mars Needs Moms,150000000,21392758,39549758,-110450242
341,42,"Jun 14, 2019",Men in Black: International,110000000,3100000,3100000,-106900000
352,53,"Apr 27, 2001",Town & Country,105000000,6712451,10364769,-94635231
...,...,...,...,...,...,...,...
33,34,"Jun 12, 2015",Jurassic World,215000000,652270625,1648854864,1433854864
5,6,"Dec 18, 2015",Star Wars Ep. VII: The Force Awakens,306000000,936662225,2053311220,1747311220
6,7,"Apr 27, 2018",Avengers: Infinity War,300000000,678815482,2048134200,1748134200
42,43,"Dec 19, 1997",Titanic,200000000,659363944,2208208395,2008208395
0,1,"Dec 18, 2009",Avatar,425000000,760507625,2776345279,2351345279

In [31]:
tn_movie_budgets.corr()

,id,production_budget,domestic_gross,worldwide_gross,profit
id,1.000000,-0.035278,0.008255,-0.009422,-0.001172
production_budget,-0.035278,1.000000,0.685682,0.748306,0.608752
domestic_gross,0.008255,0.685682,1.000000,0.938853,0.926605
worldwide_gross,-0.009422,0.748306,0.938853,1.000000,0.981811
profit,-0.001172,0.608752,0.926605,0.981811,1.000000

In [35]:
imdb_title_crew.head(10)

,tconst,directors,writers
0,tt0285252,nm0899854,nm0899854
1,tt0438973,NaN,"nm0175726,nm1802864"
2,tt0462036,nm1940585,nm1940585
3,tt0835418,nm0151540,"nm0310087,nm0841532"
4,tt0878654,"nm0089502,nm2291498,nm2292011",nm0284943
5,tt0879859,nm2416460,NaN
6,tt0996958,nm2286991,"nm2286991,nm2651190"
7,tt0999913,nm0527109,"nm0527109,nm0329051,nm0001603,nm0930684"
8,tt10003792,nm10539228,nm10539228
9,tt10005130,nm10540239,"nm5482263,nm10540239"

In [38]:
rt_movie_info.columns

Index(['id', 'synopsis', 'rating', 'genre', 'director', 'writer',
       'theater_date', 'dvd_date', 'currency', 'box_office', 'runtime',
       'studio'],
      dtype='object')

In [39]:
imdb_name.head()

,nconst,primary_name,birth_year,death_year,primary_profession,known_for_titles
0,nm0061671,Mary Ellen Bauder,NaN,NaN,"miscellaneous,production_manager,producer","tt0837562,tt2398241,tt0844471,tt0118553"
1,nm0061865,Joseph Bauer,NaN,NaN,"composer,music_department,sound_department","tt0896534,tt6791238,tt0287072,tt1682940"
2,nm0062070,Bruce Baum,NaN,NaN,"miscellaneous,actor,writer","tt1470654,tt0363631,tt0104030,tt0102898"
3,nm0062195,Axel Baumann,NaN,NaN,"camera_department,cinematographer,art_department","tt0114371,tt2004304,tt1618448,tt1224387"
4,nm0062798,Pete Baxter,NaN,NaN,"production_designer,art_department,set_decorator","tt0452644,tt0452692,tt3458030,tt2178256"

In [42]:
imdb_title_basics.head(20)

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"
5,tt0111414,A Thin Life,A Thin Life,2018,75.0,Comedy
6,tt0112502,Bigfoot,Bigfoot,2017,NaN,"Horror,Thriller"
7,tt0137204,Joe Finds Grace,Joe Finds Grace,2017,83.0,"Adventure,Animation,Comedy"
8,tt0139613,O Silêncio,O Silêncio,2012,NaN,"Documentary,History"
9,tt0144449,Nema aviona za Zagreb,Nema aviona za Zagreb,2012,82.0,Biography
10,tt0146592,Pál Adrienn,Pál Adrienn,2010,136.0,Drama
11,tt0154039,So Much for Justice!,Oda az igazság,2010,100.0,History
12,tt0159369,Cooper and Hemingway: The True Gen,Cooper and Hemingway: The True Gen,2013,180.0,Documentary
13,tt0162942,Children of the Green Dragon,A zöld sárkány gyermekei,2010,89.0,Drama
14,tt0170651,T.G.M. - osvoboditel,T.G.M. - osvoboditel,2018,60.0,Documentary
15,tt0176694,The Tragedy of Man,Az ember tragédiája,2011,160.0,"Animation,Drama,History"
16,tt0187902,How Huang Fei-hong Rescued the Orphan from the...,How Huang Fei-hong Rescued the Orphan from the...,2011,NaN,NaN
17,tt0192528,Heaven & Hell,Reverse Heaven,2018,104.0,Drama
18,tt0230212,The Final Journey,The Final Journey,2010,120.0,Drama
19,tt0247643,Los pájaros se van con la muerte,Los pájaros se van con la muerte,2011,110.0,"Drama,Mystery"